.btn-background{
  background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
}

.background{
 background-color: rgb(252, 234, 232);
}
.color{
  color: #FF136F;
}
.fa-brands{
  font-size: 30px;
  margin-left: 1rem;
}
.fa-facebook:hover{
  color: blue;
}
.fa-facebook-messenger:hover{
  color: rgb(255, 0, 221);
}
.fa-youtube:hover{
  color: rgb(255, 0, 0);
}
.fa-linkedin:hover{
  color: rgb(32, 105, 221);
}
.fa-twitter:hover{
  color: rgb(0, 205, 251);
}


.fa-arrow-right{
  position: relative;
  animation: moveit 2s linear 0s infinite alternate;
}
@keyframes moveit {
  from {
    left: 0;
  }

  to {
    left: 25%;
  }
}